extends layout

block content
  h1 你好，#{username}
  h1= title
  p Welcome to #{title}
  button#button1 按钮
  button#button2  按钮
  div#list
  script(src='http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js')
  script(src='/javascripts/demo.js')
