extends layout

block content
	label
		span 姓名
		input(name='username' type='input')
		br
	label
		span 密码
		input(name='password' type='password')
	div(style="width:100px;text-align:center;")
		button#button 提交
	script(src='http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js')
	script(src='/javascripts/demo.js')

